body {
  font-family: "Cabin", sans-serif;
  background: white;
  color: #373a3c;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 40px;
}

header img {
  width: 500px;
}

.receta-principal {
  margin-top: 20px;
}

.lineap {
  margin-top: 80px;
  width: 100%;
  height: 1px;
  color: black;
  background-color: black;
  visibility: hidden;
}

.texto-principal h3 {
  font-size: 20px;
}

.texto-principal button {
  display: inline-flex;
  color: #373a3c;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

.btn-outline-secondary {
  border-color: #dddddd;
}

.tooltip {
  font-size: 12px;
}
.carrusel img {
  width: 270px;
  margin: 50px 0 30px 0;
  padding: 5px;
}

.carousel-indicators li {
  background-color: black;
  background-color: rgba(70, 70, 70, 0.25);
  color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: #373a3c31;
}
.carousel-indicators .active {
  background-color: #444;
}

hr {
  width: 100%;
  height: 1px;
  color: black;
  background-color: black;
}

.ingredientes h5 {
  font-weight: 800;
  margin-top: 0px;
  padding-top: 0;
}

.receta h4 {
  border-bottom: 1.5px solid currentColor;
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 20px;
}
.ingredientes li {
  margin-left: -40px;
  padding: 0;
}
.preparacion li {
  margin-left: -27px;
}
.receta {
  margin-top: 30px;
}

.recetas-relacionadas h2 {
  text-align: center;
  margin: 4vh 0;
  font-weight: 700;
}

.card-deck {
  margin-bottom: 40px;
}
.card {
  padding: 0;
}

.newsletter {
  color: white;
  text-align: center;
  background: #dc3545;
  padding: 80px 0 50px 0;
}

.newsletter button {
  margin: 30px 0;
  padding: 5px 50px;
}

.newsletter h5 {
  font-size: 16pt;
}

.newsletter b {
  font-family: "Lobster", cursive;
  font-size: 25px;
}

footer {
  text-align: center;
  background: #373a3c;
  height: 80px;
  font-family: "Lobster", cursive;
  color: white;
}

footer h2 {
  vertical-align: middle;
  padding-top: 18px;
}

@media only screen and (max-width: 576px) {
  .carrusel {
    display: none !important;
  }
  .receta-principal {
    text-align: center;
  }
  .receta-principal h1 {
    margin-top: 30px;
  }
  .receta {
    margin-top: 50px;
  }
  .lineap {
    color: black;
    background-color: black;
    visibility: visible !important;
  }
  .newsletter {
    padding: 40px;
  }
}
